@font-face {
  font-family: digital;
  src: url(./assets/digital-7.ttf);
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  max-width: 400px;
  margin: 10vh auto 0;
  box-shadow: -4px 5px 19px 1px #8b8b8b7a;
}

#display {
  text-align: right;
  height: 40px;
  line-height: 40px;
  padding: 16px 8px;
  font-size: 35px;
  overflow: hidden;
  border: 1px solid #eee;
  font-family: digital;
}
.buttons {
  display: grid;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > * {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
.button {
  line-height: 80px;
  text-align: center;
  font-size: 25px;
  transition: all 0.3s ease-in;
}
.button:hover {
  cursor: pointer;
  box-shadow: inset -1px 3px 4px 4px #a1a1a157;
}
#equal {
  background-color: #4cbd48;
  color: white;
}
#equal:hover {
  background-color: #3a8938;
  color: white;
}
@media (max-width: 750px) {
  .container {
    max-width: 300px;
    margin: 35% auto;
  }
  #display {
    font-size: 20px;
  }
  .button {
    font-size: 20px;
  }
}
